<%  include ../partials/header %>
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-6 offset-md-3 margin-top">
				<h3>Edit <%=camping.name%> </h3>
				<form id="campingForm" action="/campings/<%=camping._id%>?_method=PUT" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="camping[name]" value="<%=camping.name%>">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="camping[image]" value="<%=camping.image%>">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="camping[description]"><%=camping.description%></textarea>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="camping[lat]" value="<%=camping.lat%>">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="camping[lng]" value="<%=camping.lng%>">
					</div>
					<input class="btn btn-success btn-lg" type="submit" value="Submit!">
				</form>
			</div>
		</div>
	</div>
<% include ../partials/footer %>