<%  include ../partials/header %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive" src="<%=camping.image%>">
		</div>
		<div class="col-md-7">
			<h3 class="text-center"><%=camping.name %></h3>
			<hr>
			<p><%= camping.description%></p>
			<% if(camping.lat.length && camping.lng.length >0){ %>
			<div id="map">Map: </div>
			<% }; %>
			<p><em>Created by: <a href="/users/<%=camping.author.id%>"><%=camping.author.username%></a></em></p>
			<% if(currentUser && camping.author.id.equals(currentUser._id)){ %>
				<hr>
				<a class="btn  btn-warning btn-xs" href="/campings/<%=camping._id%>/edit">Edit</a>
				<form id="delete-form" action="/campings/<%=camping._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger btn-xs">Delete</button>
				</form>
			<% }; %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<button id="comment-btn" class="btn btn-lg btn-info center">
				Add new comment
			</button>
			<div class="comment hide form-group">
				
					<form id="commentForm" action="/campings/<%=camping._id%>/comments" method="POST">
						<textarea class="form-control" type="text" name="comment[text]" placeholder="comment..."></textarea><br>
						<input class="btn btn-xs btn-primary center" type="submit" value="Submit">
					</form>

			</div>
		</div>
	</div>
		<div class="row">
			<h3>Comments:</h3>
			<% camping.comments.forEach(function(comment){ %>
				<div class="col-md-12">
					<div class="img-thumbnail">
						<h4><strong><a href="/users/<%=comment.author.id%>">
										<%=comment.author.username%>
									</a>
							</strong>
						</h4><hr>
						<p><%=comment.text%></p>
						<% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
							<a class="btn  btn-warning btn-xs" href="/campings/<%=camping._id%>/comments/<%=comment.id%>/edit">	Edit
							</a>
							<form id="delete-form" action="/campings/<%=camping._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-xs">Delete</button>
							</form>
						<%};%>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>

<script>
  function initMap() {
    var uluru = {lat: <%=camping.lat%>, lng: <%=camping.lng%>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBnvlOyMCvCtFrYbI2vSsiixAGu7sMY38&callback=initMap">
</script>
<script src="/scripts/comments.js"></script>

<% include ../partials/footer %>