<%  include ../partials/header %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<img class="img-responsive" src="<%=camping.image%>">
		</div>
		<div class="col-md-7">
			<h3 class="text-center"><%=camping.name %></h3>
			<hr>
			<p><%= camping.description%></p>
			<% if(currentUser){ %>
			<hr>
			<a class="btn btn-lg btn-primary" href="/campings/<%=camping._id%>/edit">Edit</a>
			<a class="btn btn-lg btn-info" href="/campings/<%=camping._id%>/comments/new">Add new comment</a>
			<% }; %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 ">
			<h3>Comments:</h3>
			<% camping.comments.forEach(function(comment){ %>
			<div class="img-thumbnail">
				<h4><strong><%=comment.author%></strong></h4>
				<hr>
				<p><%=comment.text%></p>
			</div>
			<% }); %>
		</div>
	</div>
</div>

<% include ../partials/footer %>