<%  include ../partials/header %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="<%=camping.image%>">
		</div>
		<div class="col-md-6">
			<h3 class="text-center"><%= camping.name %></h3>
			<p><%= camping.description%></p>
			<a class="btn btn-lg btn-primary" href="/campings/<%=camping._id%>/edit">Edit</a>
			<a class="btn btn-lg btn-info" href="/campings/<%=camping._id%>/comments/new">Add new comment</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-10 col--md-offset-1">
			<h3>Comments</h3>
			<% camping.comments.forEach(function(comment){ %>
			<h4><%=comment.author%></h4>
			<p><%=comment.text%></p>
			<% }); %>
		</div>
	</div>
</div>

<% include ../partials/footer %>